.container {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-rows: 60px calc(100vh - 60px);
}

.header {
	display: flex;
	justify-content: space-evenly;

	background-color: #9E9E9E;
}

.logo {
	font-size: 2em;
	color: white;
}

.feedList {
	display: flex;
	flex-direction: column;

	overflow-y: auto;
	padding: 1em;
}

.feed {
	margin-bottom: 1em;
	padding: 0.5em;
}

.feedTitle{
    margin-bottom: 0.5em;
    text-align: center;
}

.feedTitle > a {
	text-decoration: none;
	color: black;
}

.feedDesc {
    text-align: center;
    font-size: 0.8em;
    color: grey;
    margin-top: 0em;
}

.feedTime {
	text-align: right;
	font-size: 0.8em;
	color: grey;
}