.main {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template-columns: 20% 80%;
}


.header {
	display: flex;
	justify-content: center;
	align-content: center;

	background-color: #00BDD6;
}

.logo {
	font-size: 2em;
	color: white;
}

.aside{
	display: grid;
	grid-template-rows: 60px calc(100vh - 60px);
	overflow-y: auto;
}

.section{
	background-color: #EDEBEB;
}